version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: planner_app
    user: "${UID}:${GID}"
    volumes:
      - ./backend:/var/www
    depends_on:
      - db
      - redis
  nginx:
    image: nginx:alpine
    container_name: planner_nginx
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: postgres:14-alpine
    container_name: planner_db
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - '${DB_PORT}:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    
  redis:
    image: redis:alpine
    container_name: planner_redis
    ports:
      - '${REDIS_PORT}:6379'

volumes:
  pgdata: